<!DOCTYPE html>
<html>
    <head>
        <title> FPID Testing</title>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        
        <script>
            window.digitalData = window.digitalData || {};
            window.digitalData.page = window.digitalData.page || {};
            window.digitalData.page.pageInfo = window.digitalData.page.pageInfo || {};
            window.digitalData.page.pageInfo.pageName = "aboutpage";
            window.digitalData.page.pageInfo.pageType = "about";
            window.digitalData.page.pageInfo.language = "en";
            window.digitalData.page.pageInfo.section = "about";
            window.digitalData.page.pageInfo.pageURL = document.location.href;
            window.digitalData.events = window.digitalData.events || [];
            window.digitalData.user = window.digitalData.user || {}
            window.digitalData.user.loggedInStatus = "guest"
        </script>    
    </head>  
<body>
    <h1>AEP WebSDK: FPID Testing</h1>
    <h2>About Page</h2>
    <h2>Page: 2</h2>
    <p><a href="/">Go to Home Page</a></p>
    <script src="https://assets.adobedtm.com/6d07e8369d1a/ce429816349b/launch-b6751615ec44.min.js"></script>    
</body>
</html>